<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="FindexCliPath" Guid="*">
        <RegistryValue
          Root="HKCU"
          Key="Software\Findex"
          Name="CliInstallDirectory"
          Type="string"
          Value="[INSTALLDIR]"
          KeyPath="yes" />
        <Environment
          Id="FindexCliUserPath"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="no"
          Value="[INSTALLDIR]" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
